body{
	margin-right: auto;
	margin-left: auto;
}
#container{ 
	margin-right: auto;
	margin-left: auto;
	width: 960px;
	height:800px;
	border: solid 5px #000;
}
form {
	width: 300px;
	font: 1em Arial, Helvetica, sans-serif;
	color: #000;
}

img {
	padding-left: 100px;
	width: 750px;
	height: 150px;

}
legend{
	text-align: center;
	font: 20px Arial, Helvetica, sans-serif;

}
fieldset{
	border: none;

}
#inputleft{
	width: 300px;
	float: left;
}
#outputright{
	width: 500px;
	float: right;
}

#response{
	font: 25px Arial, Helvetica, sans-serif;
	width:500px;
	height: 300px;
}

.text {
	font: 20px Arial, Helvetica, sans-serif;
	height: 300px;
	padding-right: 150px;

}
.errortext{
	color: #FF0000;
	font-family: Arial,Helvetica, sans-serif;
	font-size: 16px;
}


#pronoun,#nounOne,#nounTwo,#nounThree,#verbOne,#verbTwo,#verbThree,#adjectiveOne,#adjectiveTwo,#adjectiveThree	{
	font-size: 13px;
    margin-bottom: 5px;
    display: block;
    padding: 4px;
    border: solid 1px #85b1de;
    width: 300px;
}

.button
{
	margin-top:10px;
	width:140px;
	height:20px;
	color:#FFFFFF;
	background-color:#666666;
	border:thin solid #000;
	border-radius:0px;
}